---
node.name: {{ node_name }}

path.logs: {{ log_dir }}
path.data: {{ data_dir }}

network.host: localhost,{{ bind_host }}
http.port: {{ http_port }}
transport.port: {{ transport_port }}

node.roles: {{ node_roles }}

cluster.name: {{ cluster_name }}
cluster.initial_master_nodes: {{ cluster_nodes }}
discovery.seed_hosts: {{ discovery_hosts }}

#xpack.security.enabled: true
#xpack.security.transport.ssl.enabled: true
#xpack.security.transport.ssl.keystore.path: {{ cert_dir }}/${node.name}.p12
#xpack.security.transport.ssl.truststore.path: {{ cert_dir }}/${node.name}.p12
